* {
  margin: 0;
  font-family: 'Lato', 'Arial','sans-serif';
  font-weight: 300;
  color: #555;
  font-size: 20px; }

.food_delivery > h2, .how_it_works_container > h2 {
  word-spacing: 0.1em;
  font-size: 2em;
  text-align: center;
  padding: 48px 0; }
  .food_delivery > h2:after, .how_it_works_container > h2:after {
    display: block;
    width: 20%;
    margin: 24px auto;
    content: " ";
    height: 2px;
    background: #e67e22; }
  @media (max-width: 500px) {
    .food_delivery > h2, .how_it_works_container > h2 {
      font-size: 1.2em; } }

.btn {
  padding: 0.6em 2.5em;
  background: none;
  border: 1px solid #e67e22;
  color: #e67e22;
  font-weight: 400;
  font-size: 1.1em;
  border-radius: 200px;
  transition: 0.2s ease-in;
  text-align: center;
  margin: 8px; }
  .btn:hover {
    background-color: #e67e22;
    cursor: pointer;
    color: #fff; }
  .btn-important {
    background-color: #e67e22;
    color: #fff; }
    .btn-important:hover {
      background-color: #d67118;
      color: #fff; }

.main_header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../images/header_image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; }
  .main_header .main_nav {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .main_header .main_nav .main_logo {
      width: 100px;
      height: 100px;
      margin: 24px; }
    .main_header .main_nav ul {
      list-style: none;
      display: flex; }
      .main_header .main_nav ul a {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        word-spacing: 3px;
        margin: 24px; }
        .main_header .main_nav ul a::after {
          display: block;
          content: "";
          margin: 16px auto;
          width: 0%;
          height: 3px;
          background: #e67e22;
          transition: width 0.2s ease-in; }
        .main_header .main_nav ul a:hover::after {
          width: 75%; }
  .main_header .main_heading {
    margin: 0 24px; }
    .main_header .main_heading h1 {
      font-size: 2.5em;
      font-weight: 300;
      color: #fff;
      margin: 48px 0;
      word-spacing: 0.2em; }
  @media (max-width: 600px) {
    .main_header .main_heading {
      margin: 0 24px; }
      .main_header .main_heading h1 {
        font-size: 2em;
        font-weight: 300;
        color: #fff;
        margin: 48px 0;
        word-spacing: 0.2em; }
    .main_header .main_button {
      display: flex;
      flex-direction: column;
      align-items: stretch; } }

.food_delivery {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  text-align: center; }
  .food_delivery > p {
    max-width: 800px;
    text-align: justify;
    font-size: 1.3em;
    margin-bottom: 48px; }
  .food_delivery .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 24px;
    padding-bottom: 48px; }
  .food_delivery .card {
    flex: 0 0 100%;
    margin-top: 24px;
    background: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    padding: 20px;
    box-sizing: border-box; }
    .food_delivery .card > h3 {
      text-align: center;
      font-size: 1.1em;
      font-weight: 400; }
    .food_delivery .card > p {
      text-align: justify;
      margin-top: 24px;
      margin-bottom: 48px;
      font-size: 1.1em; }
    .food_delivery .card .icon {
      fill: #e67e22;
      width: 48px;
      height: 48px; }
    .food_delivery .card:hover {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .food_delivery .food_images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .food_delivery .food_images .image_wrapper {
      box-sizing: border-box;
      flex: 1 0 100%;
      overflow: hidden;
      background: #111; }
      .food_delivery .food_images .image_wrapper img {
        width: 100%;
        height: 100%;
        transform: scale(1.15);
        transition: transform 0.3s ease-in,opacity 0.3s ease-in;
        transform-origin: center;
        opacity: 0.5;
        /* transform: scale(1.15); */ }
        .food_delivery .food_images .image_wrapper img:hover {
          transform: scale(1);
          opacity: 1; }
      @media (min-width: 680px) and (max-width: 850px) {
        .food_delivery .food_images .image_wrapper {
          flex: 1 0 50%; } }
      @media (min-width: 851px) {
        .food_delivery .food_images .image_wrapper {
          flex: 1 0 25%; } }
  @media (max-width: 500px) {
    .food_delivery p {
      font-size: 1em;
      margin: 0 24px; } }
  @media (min-width: 680px) {
    .food_delivery .card {
      flex: 0 0 47%; } }
  @media (min-width: 501px) and (max-width: 820px) {
    .food_delivery p {
      margin: 0 24px 48px 24px; } }
  @media (min-width: 1200px) {
    .food_delivery .cards {
      display: flex;
      justify-content: space-around;
      margin-bottom: 48px; }
    .food_delivery .card {
      flex: 0 0 24%; } }
  @media (min-width: 1500px) {
    .food_delivery .cards {
      margin: 0 auto; } }

.how_it_works_container {
  background: #f6f6f6; }
  .how_it_works_container .how_it_works {
    padding-bottom: 48px;
    display: flex; }
    .how_it_works_container .how_it_works .app_mobile_view_container {
      display: flex;
      flex-grow: 1;
      flex-direction: row;
      justify-content: flex-end;
      align-self: center; }
      .how_it_works_container .how_it_works .app_mobile_view_container img {
        flex-shrink: 0;
        width: 300px;
        align-self: flex-end;
        justify-content: flex-end; }
  .how_it_works_container .works_steps {
    flex: 2 0 0; }
    .how_it_works_container .works_steps p {
      font-size: 1.2em; }
    .how_it_works_container .works_steps .step_container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start; }
      .how_it_works_container .works_steps .step_container p {
        text-align: left;
        flex: 1 1 auto; }
      .how_it_works_container .works_steps .step_container .step {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #e67e22;
        font-size: 2em;
        border: 2px solid #e67e22;
        width: 56px;
        height: 56px;
        flex: 0 0 auto;
        border-radius: 50%;
        margin: 10px 24px;
        padding: 15px; }
    .how_it_works_container .works_steps .download_app_link_container {
      display: flex;
      margin-top: 24px; }
      .how_it_works_container .works_steps .download_app_link_container img {
        width: 200px;
        height: 70px;
        margin-top: 10px; }
        @media (min-width: 600px) {
          .how_it_works_container .works_steps .download_app_link_container img {
            margin-left: 24px; } }
  @media (max-width: 875px) {
    .how_it_works_container .how_it_works {
      flex-direction: column;
      align-items: center; }
    .how_it_works_container .download_app_link_container {
      justify-content: center; } }
  @media (max-width: 600px) {
    .how_it_works_container .app_mobile_view_container img {
      display: none; }
    .how_it_works_container .works_steps {
      margin-top: -50px; }
    .how_it_works_container .works_steps .step_container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .how_it_works_container .works_steps .step_container .step {
        width: 24px;
        height: 24px;
        display: flex;
        flex: 1 1 auto;
        align-items: center;
        justify-content: center;
        border-radius: 50%; }
      .how_it_works_container .works_steps .step_container p {
        flex: 1 1 auto;
        font-size: 1em;
        text-align: left; }
    .how_it_works_container .download_app_link_container {
      flex-direction: column;
      align-items: center; } }
  @media (min-width: 601px) {
    .how_it_works_container .works_steps {
      padding: 48px; } }

/*# sourceMappingURL=main.css.map */
