* {
  margin: 0;
  font-family: 'Lato', 'Arial','sans-serif';
  font-weight: 300;
  color: #555;
  font-size: 20px; }

.food_delivery > h2, .how_it_works_container > h2, .our_cites_section > h2, .customer_reviews > h2, .offers_section > h2, .contact_form_section > h2 {
  word-spacing: 0.1em;
  font-size: 2em;
  margin: 24px;
  text-align: center; }
  .food_delivery > h2:after, .how_it_works_container > h2:after, .our_cites_section > h2:after, .customer_reviews > h2:after, .offers_section > h2:after, .contact_form_section > h2:after {
    display: block;
    width: 20%;
    margin: 24px auto;
    content: " ";
    height: 2px;
    background: #e67e22; }

.btn {
  padding: 0.6em 2.5em;
  background: none;
  border: 1px solid #e67e22;
  color: #e67e22;
  font-weight: 400;
  font-size: 1.1em;
  border-radius: 200px;
  margin-right: 10px;
  transition: 0.2s ease-in;
  text-align: center; }
  .btn:hover {
    background-color: #e67e22;
    cursor: pointer;
    color: #fff; }
  .btn-important {
    background-color: #e67e22;
    color: #fff; }
    .btn-important:hover {
      background-color: #d67118;
      color: #fff; }

.main_header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../images/header_image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; }
  .main_header .main_nav {
    position: absolute;
    top: 0;
    width: calc(100vw - 5em);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 48px; }
    .main_header .main_nav .main_logo {
      width: 100px;
      height: 100px;
      margin: 24px; }
    .main_header .main_nav ul {
      list-style: none;
      display: flex; }
      .main_header .main_nav ul a {
        color: #fff;
        padding: 8px 0;
        text-decoration: none;
        text-transform: uppercase;
        word-spacing: 3px;
        margin: 20px; }
        .main_header .main_nav ul a::after {
          display: block;
          content: "";
          margin: 0 auto;
          margin-top: 10px;
          width: 0%;
          height: 3px;
          background: #e67e22;
          transition: width 0.2s ease-in; }
        .main_header .main_nav ul a:hover::after {
          width: 75%; }
  .main_header .main_heading {
    margin: 48px 24px; }
    .main_header .main_heading h1 {
      font-size: 2.5em;
      font-weight: 300;
      color: #fff;
      margin: 28px 0;
      word-spacing: 0.2em; }

.food_delivery {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100vw - 1em);
  background: white;
  text-align: center; }
  .food_delivery > p {
    max-width: 800px;
    text-align: justify;
    font-size: 1.3em;
    margin: 24px; }
  .food_delivery .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 1%;
    margin: 48px 0; }
  .food_delivery .card {
    flex: 0 0 24%;
    background: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    padding: 20px;
    box-sizing: border-box; }
    .food_delivery .card img {
      width: 60px;
      height: 60px;
      font-size: 350%; }
    .food_delivery .card > h3 {
      text-align: center;
      font-size: 1.1em;
      font-weight: 400; }
    .food_delivery .card > p {
      text-align: justify;
      margin-top: 24px;
      margin-bottom: 48px;
      font-size: 1.1em; }
    .food_delivery .card .icon {
      fill: #e67e22;
      width: 72px;
      height: 72px; }
    .food_delivery .card:hover {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .food_delivery .food_images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .food_delivery .food_images .image_wrapper {
      box-sizing: border-box;
      flex: 1 0 25%;
      overflow: hidden;
      background: #111; }
      .food_delivery .food_images .image_wrapper img {
        width: 100%;
        height: 100%;
        transform: scale(1.15);
        transition: transform 0.3s ease-in,opacity 0.3s ease-in;
        transform-origin: center;
        opacity: 0.5;
        /* transform: scale(1.15); */ }
        .food_delivery .food_images .image_wrapper img:hover {
          transform: scale(1);
          opacity: 1; }

.how_it_works_container {
  background: #f6f6f6;
  padding-top: 48px;
  padding-bottom: 96px; }
  .how_it_works_container .how_it_works {
    display: flex; }
    .how_it_works_container .how_it_works .app_mobile_view_container {
      display: flex;
      flex-grow: 1;
      flex-direction: row;
      justify-content: flex-end;
      align-self: center; }
      .how_it_works_container .how_it_works .app_mobile_view_container img {
        flex-shrink: 0;
        width: 300px;
        flex-basis: 0px;
        align-self: flex-end;
        justify-content: flex-end;
        margin: 0 48px;
        animation: slideUp 3s ease-in; }
  .how_it_works_container .works_steps {
    flex: 2 0 0;
    padding: 48px; }
    .how_it_works_container .works_steps p {
      font-size: 1.2em; }
    .how_it_works_container .works_steps .step_container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start; }
      .how_it_works_container .works_steps .step_container p {
        flex: 1 0 0;
        text-align: justify; }
      .how_it_works_container .works_steps .step_container .step {
        display: inline-block;
        text-align: center;
        color: #e67e22;
        font-size: 1.5em;
        border: 2px solid #e67e22;
        width: 56px;
        height: 56px;
        border-radius: 50%;
        margin: 10px 24px;
        padding: 20px 10px 5px 10px; }
    .how_it_works_container .works_steps .download_app_link_container {
      display: flex;
      margin-top: 48px;
      margin-left: 24px; }
      .how_it_works_container .works_steps .download_app_link_container img {
        width: 200px;
        height: 70px;
        margin: 10px; }

.our_cites_section {
  padding-top: 48px;
  padding-bottom: 94px; }
  .our_cites_section .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1%;
    margin: 48px 0; }
  .our_cites_section .card {
    flex: 0 0 24%;
    background: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    padding: 5px;
    box-sizing: border-box; }
    .our_cites_section .card img {
      width: 100%;
      font-size: 350%; }
    .our_cites_section .card h3 {
      text-align: left;
      font-size: 1.1em;
      font-weight: 400;
      text-transform: uppercase;
      margin-top: 10px; }
    .our_cites_section .card:hover {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .our_cites_section .detail_container {
    margin-top: 10px;
    margin-bottom: 30px; }
    .our_cites_section .detail_container img {
      width: 24px;
      height: 24px;
      margin-right: 10px; }
    .our_cites_section .detail_container .detail {
      margin: 5px 0;
      display: flex;
      align-items: center;
      justify-content: flex-start; }
      .our_cites_section .detail_container .detail a {
        color: #e67e22;
        text-decoration: none; }
      .our_cites_section .detail_container .detail .icon {
        fill: #e67e22;
        width: 24px;
        height: 24px; }

.customer_reviews {
  padding-top: 48px;
  padding-bottom: 94px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../../images/back_customers.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: #fff; }
  .customer_reviews > h2 {
    color: #fff; }
  .customer_reviews .reviews_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .customer_reviews .review {
    padding: 24px;
    text-align: justify;
    flex: 0 0 300px;
    font-style: italic; }
    .customer_reviews .review p, .customer_reviews .review span {
      color: #fff; }
    .customer_reviews .review p::before {
      content: ",,";
      display: block;
      font-size: 4em;
      line-height: 1.1;
      font-style: italic; }
    .customer_reviews .review .user {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-top: 20px; }
      .customer_reviews .review .user .user_img {
        width: 54px;
        height: 54px;
        border-radius: 50%;
        margin-right: 10px; }

.offers_section {
  padding-top: 48px;
  padding-bottom: 94px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/back_customers.jpg");
  background-size: cover;
  background-attachment: fixed;
  background: #f6f6f6; }
  .offers_section .offers {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .offers_section .offers .card {
      background: white;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      padding: 20px;
      box-sizing: border-box;
      margin: 24px;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .offers_section .offers .card h3 {
        text-align: left;
        font-size: 1.1em;
        font-weight: 400; }
      .offers_section .offers .card:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
    .offers_section .offers .price {
      color: #e67e22; }
      .offers_section .offers .price span {
        color: #e67e22;
        font-size: 3em; }
    .offers_section .offers .single_meal_price {
      border-bottom: 0.01em solid #e67e22;
      padding-bottom: 20px; }
    .offers_section .offers .detail_container {
      flex-grow: 1;
      margin: 24px 0;
      display: flex;
      flex-direction: column;
      align-items: stretch; }
      .offers_section .offers .detail_container p {
        margin-left: 10px; }
      .offers_section .offers .detail_container .detail {
        display: flex;
        margin: 5px 0; }
        .offers_section .offers .detail_container .detail .icon {
          width: 24px;
          height: 24px;
          fill: #e67e22; }

.contact_form_section {
  padding-top: 72px; }
  .contact_form_section .form {
    width: 50%;
    margin: 50px auto;
    display: flex;
    flex-direction: column; }
    .contact_form_section .form .button {
      margin: 20px 0; }
    .contact_form_section .form .form_single_item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 5px 0; }
      .contact_form_section .form .form_single_item input, .contact_form_section .form .form_single_item select, .contact_form_section .form .form_single_item textarea, .contact_form_section .form .form_single_item .checkbox {
        flex-grow: 2;
        padding: 5px; }
      .contact_form_section .form .form_single_item label {
        width: 250px; }
    .contact_form_section .form .checkbox {
      display: flex;
      align-items: center; }
    .contact_form_section .form .checkbox input[type='checkbox'] {
      display: block;
      flex-grow: 0;
      width: 24px;
      height: 15px;
      margin-right: 5px;
      margin-left: -5px;
      align-self: flex-end; }
    .contact_form_section .form .checkbox span {
      flex-grow: 1; }

footer {
  background: #222;
  color: #fff;
  text-align: center;
  padding: 48px 0; }
  footer li {
    list-style: none; }
  footer nav {
    width: 80%;
    margin: 48px auto;
    display: flex;
    justify-content: space-between; }
  footer .menu {
    display: flex;
    flex-grow: 1;
    justify-content: flex-start; }
  footer li {
    padding: 10px; }
    footer li:hover {
      cursor: pointer; }
  footer .social_icons {
    flex-grow: 0; }
    footer .social_icons img {
      width: 34px;
      height: 34px;
      padding: 10px; }
  footer a, footer p {
    color: #fff;
    opacity: 0.6;
    text-decoration: none;
    transition: color 0.3s ease-in; }
  footer a:hover {
    opacity: 1; }

@keyframes slideUp {
  0% {
    transform: translate(0px, 100%); }
  100% {
    transform: translate(0px, 0px); } }

/*# sourceMappingURL=main.css.map */
